:root {
  --main-width: 960px;
}

body {
  font-family: "LXGW WenKai", sans-serif;
}

.post-content pre {
  border-radius: 12px;
}

.main article {
  max-width: 1400px !important;
  width: 100% !important;
}

.post-content {
  max-width: 100% !important;
}

table {
  width: 100%;
}
